<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test.Properties.Settings.HRMS_DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\91826\source\repos\HRMS\Database\HRMS_DB.mdf;Integrated Security=True;Connect Timeout=30"
             
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>